*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(40, 151, 255);
}
.wrapper{
    background-color: #fff;
    width: 450px;
    padding: 28px;
    border-radius: 7px;
}

.wrapper .pass-field{
    height: 65px;
    width: 100%;
    position: relative;
}
.pass-field input{
    width: 100%;
    height: 100%;
    padding: 0 17px;
    outline: none;
    font-size: 1.3rem;
    border-radius: 5px;
    border: 1px solid #999;
}

.pass-field i{
    right: 18px;
    position: absolute;
    font-size: 1.3rem;
    color: #999;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
}

.wrapper .content{
    margin: 20px 0 10px;
}

.content p {
    font-size: 1.3rem;
}

.content .requirement-list{
    margin-top: 20px;
}

.requirement-list li{
    list-style: none;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.requirement-list li i {
    font-size: 0.6rem;
    color: #aaa;
    width: 20px;
}


.requirement-list li span{
    margin-left: 12px;
}